.banner_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fffbfb;
    height: 50vh;
}

/* banner containers */
.banner_left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
    overflow-x: hidden;
}

.banner_right {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    overflow-x: hidden;
}

/* left banner grid */
.banner_ex_mark {
    position: absolute;
    display: flex;
    align-self: flex-start;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    top: 88px;
    left: 0;
}

.banner_text_n_button {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    top: 88px;
    margin: 100px 0;
    overflow-x: hidden;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0;
}

.banner_btn {
    background-color: #53bac1;
    width: fit-content;
    padding: 10px 40px;
}

.banner_span {
    color: #de0036;
    font-weight: bold;
}

/* right banner grid */
.banner_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.banner_e_container {
    position: absolute;
    display: flex;
    align-self: flex-end;
    margin: 0 auto;
    right: 0;
    padding: 0 0 31px;
}

.banner_e {
    width: 70px;
    height: 70px;
}

/* media responsiveness */
@media screen and (max-width: 850px) {
    .banner_ex_mark {
        position: fixed;
        display: flex;
        align-items: center;
    }

    .banner_text_n_button {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        top: 88px;
        margin: 100px 0;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 420px) {
    .banner_container {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }

    .banner_ex_mark {
        position: fixed;
        display: flex;
        align-items: center;
    }

    .banner_e_container {
        position: relative;
        display: flex;
        align-items: center;
    }
}
